<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GaraMan027</display-name>
  <welcome-file-list>
    <welcome-file>error.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>KhHomeServlet</servlet-name>
    <servlet-class>controller.KhHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhHomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimHoaDonServlet</servlet-name>
    <servlet-class>controller.TimHoaDonServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>controller.ErrorServletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CSSServlet</servlet-name>
    <servlet-class>controller.CSSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSSServlet</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSServlet</servlet-name>
    <servlet-class>controller.JSServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XemHoaDonServlet</servlet-name>
    <servlet-class>controller.XemHoaDonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSServlet</servlet-name>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NvHomeServlet</servlet-name>
        <servlet-class>controller.NvHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NvHomeServlet</servlet-name>
    <url-pattern>/seller/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDVTTServlet</servlet-name>
<servlet-class>controller.AddDVTTServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatHoaDonServlet</servlet-name>
    <servlet-class>controller.UpdatHoaDonServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AddPTTTServlet</servlet-name>
    <servlet-class>controller.AddPTTTServlet</servlet-class>
  </servlet>
</web-app>